#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
} 

#menu_toggle:checked ~ .menu_box {
    visibility: visible;
    right: 0;
    margin-left: 500px;
}

#menu_toggle:checked ~ .header_buttons_burger {
    visibility: visible;
    right: 0;
    display: flex;
}

.menu_btn {
    position: absolute;
    display: flex;
    top: 32px;
    padding-left: 70px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span ,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 3px;
    background: #fff;
    transition-duration: 0.25s;
    width: 25px;
}

.menu_btn > span::before {
    content: "";
    top: -8px;
    width: 25px;
}
.menu_btn > span::after {
    content: "";
    top: 8px;
    width: 25px;
}

.menu_box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 800px;
    width: 300px;
    margin: 0;
    padding: 80px 0;
    background: #000;
    transition-duration: .4s;
}

.info_burger, .header_buttons_burger {
    flex-direction: column;
    text-align: center;
}

.entry_burger {
    justify-content: center;
    padding: 20px 0;
}
.work_info_burger {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.work_info_burger img {
    width: 15px;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 790px) {
    .info {
        display: none;
    }

    .buttons {
        display: none;
    }

    .header_buttons_burger .buttons {
        display: block;
    }

    .hamburger-menu {
        display: block;
    }

    .header_img {
        padding-right: 30px;
    }
    
    .icons img:nth-child(2) {
        padding-left: 30px;
    }

    .work_info {
        padding-left: 0px;
    }

    .name {
        padding: 10px 0;
    }

    .work_info span, .entry a {
        font-size: 14px;
    }
}

@media(max-width: 625px) {
    .name span{
        padding: 0 10px;
    }

    .icons {
        padding: 10px;
    }

    .icons img:nth-child(2) {
        padding-left: 10px;
    }

    .menu_box {
        width: 280px;
    }
}

@media (max-width: 480px) {
    .icons {
        padding: 10px 20px 10px 25px;
    }
    .icons img:nth-child(2) {
        padding-left: 20px;
    }
    .name {
        display: none;
    }

    .menu_btn {
        top: 24px;
        padding-left: 40px;
    }
}

@media (max-width: 420px) {

    .menu_box {
        width: 260px;
    }
}
@media (max-width: 380px) {

    .menu_box {
        width: 220px;
    }

}
@media (max-width: 350px) {
    .menu_box {
        width: 200px;
    }

    .menu_btn {
        padding-left: 10px;
    }

    .basemant_refs {
        padding:0;
    }

    .icons img:nth-child(2) {
        padding-left: 0;
    }

    .icons {
        padding: 10px;
    }

    .icons img:nth-child(1) {
        padding-left: 10px;
    }
}